/* Style de tout les elements */
* {
    margin: 0;
    font-family: "Orbitron";
    color: #FFF;
    text-decoration: none;
}

body {
    background: linear-gradient(0deg, #2c3e50 45%, #4a90e2);
    min-height: 100vh;
}

/* Style du Header */
header {
    display: flex;
    align-items: center;
    padding: 32px;
}

header h1 {
    font-weight: 700;
}

nav {
    margin-left: auto;
}

/* Style du Footer */
footer {
    width: 100%;
    height: 500px;
    position: fixed;
    bottom: 0;
    background-image: url(../img/wave.svg);
    background-repeat: no-repeat;
}